@import './global.css';
@import './score-box.css';
@import './board.css';
@import './pick.css';
@import './rules.css';

.attribution {
  font-size: 11px;
  text-align: center;
  color: #fbfffe;

}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.rules-wrapper {
  display: flex;
  justify-conent: end;
}

button.rules {
  margin: 0 30px;
  text-transform: uppercase;
  padding: 10px 40px;
  border: 1px solid #888ba6;
  color: #fbfffe;
  border-radius: 10px;
}

@media (max-width: 720px) {
  .rules-wrapper {
    justify-content: center;
    margin-bottom: 20px;
  }
}
