.board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
}

.board .hand-wrapper {
  display: inline;
}

.board .paper {
  position: absolute;
  top: 0;
  left: 0;
}

.board .rock {
  position: absolute;
  bottom: 50px;
}

.board .scissors {
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 720px) {
  .board {
    width: 320px;
    height: 340px;
  }
  .board .paper, .board .rock, .board .scissors {
    width: 140px !important;
  }
  .board .background {
    width: 250px;
  }
}
