:root {
  --border-radius: 20px;
  --highlight-text-color: hsl(229, 64%, 46%);
}

.score-box {
  margin: 50px auto;
  width: 700px;
  border: 3px solid white;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
}

.score-box .score {
  background: white;
  margin: 15px 25px;
  width: 150px;
  height: 115px;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-box .score .number {
  font-size: 65px;
}

.score-box .score .text {
  color: var(--highlight-text-color);
}

.score-box .game {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 32px;
  color: white;
}
