<div class="rules-modal">
  <div class="header">
    <h2 class="title">Rules</h2>
    <button type="button" name="button" {{on "click" @close}}>
      <img src="/images/icon-close.svg" alt="">
    </button>
  </div>
  <img class="rules-image" src="/images/image-rules-bonus.svg" alt="">
</div>


{{yield}}