{{page-title "Rock, Paper, Scissors"}}

<div class="score-box">
  <div class="game">
    <span>Rock</span>
    <span>Paper</span>
    <span>Scissors</span>
  </div>
  <div class="score">
    <span class="text">SCORE</span>
    <span class="number">12</span>
  </div>
</div>

{{outlet}}