{{page-title "Rock, Paper, Scissors"}}

<div class="score-box">
  <div class="game">
    <span>Rock</span>
    <span>Paper</span>
    <span>Scissors</span>
  </div>
  <div class="score">
    <span class="text">SCORE</span>
    <span class="number">12</span>
  </div>
</div>

<div class="board">
  <Hand @pick="paper" @color="blue"/>
  <Hand @pick="scissors" @color="yellow" />
  <Hand @pick="rock" @color="red" />
  <img class="background" src="/images/bg-triangle.svg" alt="" role="presentation">
</div>

<div class="rules-wrapper">
  <button class="rules" type="button" name="button" {{on "click" this.showRules}}>Rules</button>
</div>

{{outlet}}